<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <!-- <link rel="stylesheet" href="about.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
        <div class="logo"><img src="/static/img_index/logo.jpg" alt="" width="300px"></a></div>
        <div class="title">ABOUT US</div>
    </section>

    <div class="wave wave1">
    </div>
    <div class="home"><a href="/indexHTML"><img src="/static/img_about_us/home_icon.png" alt="" width="70px"></a></div>

    <div class="loaded"></div>

    <section class="card-container">

        <section class="card card-1">
        <div class="profile-pic" style="background-image: url('/static/img_about_us/Tirthraj.jpg');background-size: 300px;"></div>
            <div class="name">TIRTHRAJ MAHAJAN</div>
            <div class="roll-no">Roll No: 10924</div>
            <div class="skills-text">Skills:
                    <div class="skill">C++</div>
                    <div class="skill">Python</div>
                    <div class="skill">HTML</div>
                    <div class="skill">CSS</div>
                    <div class="skill">JavaScript</div>
                    <div class="skill">GSAP</div>
                    <div class="skill">Figma</div>
                </div>
            </div>
            <div class="social-media">
                <div class="instagram"><a href="https://www.instagram.com/tirthraj07/" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-256.png" width="50px"></a></div>
                <div class="linkedin"><a href="https://in.linkedin.com/in/tirthraj-mahajan-909497258?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-256.png" width="50px"></a></div>
                <!-- <div class="twitter"><a href="" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-256.png" width="50px"></a></div> -->
            </div>
        </section>

        <section class="card card-2">
            <div class="profile-pic" style="background-image: url('/static/img_about_us/prajakta_humbe.jpeg');background-size: 200px; background-position: 1px 1px; "></div>
                <div class="name">PRAJAKTA HUMBE</div>
                <div class="roll-no">Roll No: 10904</div>
                <div class="skills-text">Skills:
                        <div class="skill">Python</div>
                        <div class="skill">HTML</div>
                        <div class="skill">CSS</div>
                    </div>
                </div>
                <div class="social-media">
                    <div class="instagram"><a href="https://www.instagram.com/tirthraj07/" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-256.png" width="50px"></a></div>
                    <div class="linkedin"><a href="https://in.linkedin.com/in/tirthraj-mahajan-909497258?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-256.png" width="50px"></a></div>
                    <!-- <div class="twitter"><a href="" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-256.png" width="50px"></a></div> -->
                </div>
        </section>        

        <section class="card card-3">
            <div class="profile-pic" style="background-image: url('/static/img_about_us/om_kumavat.jpeg');background-size: 300px;background-position:-20px -10px"></div>
                <div class="name">OM KUMAVAT</div>
                <div class="roll-no">Roll No: 10909</div>
                <div class="skills-text">Skills:
                        <div class="skill">PHP & MySql</div>
                        <div class="skill">Python</div>
                        <div class="skill">HTML</div>
                        <div class="skill">CSS</div>
                        <div class="skill">Docx Editor</div>
                    </div>
                </div>
                <div class="social-media">
                    <div class="instagram"><a href="https://www.instagram.com/tirthraj07/" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-256.png" width="50px"></a></div>
                    <div class="linkedin"><a href="https://in.linkedin.com/in/tirthraj-mahajan-909497258?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-256.png" width="50px"></a></div>
                    <!-- <div class="twitter"><a href="" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-256.png" width="50px"></a></div> -->
                </div>
        </section>

        <section class="card card-4">
            <div class="profile-pic" style="background-image: url('/static/img_about_us/nihal_barkade.jpeg');background-size: 300px;"></div>
                <div class="name">NIHAL BARKADE</div>
                <div class="roll-no">Roll No: 10915</div>
                <div class="skills-text">Skills:
                        <div class="skill">Python</div>
                        <div class="skill">HTML</div>
                        <div class="skill">CSS</div>
                    </div>
                </div>
                <div class="social-media">
                    <div class="instagram"><a href="https://www.instagram.com/tirthraj07/" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-256.png" width="50px"></a></div>
                    <div class="linkedin"><a href="https://in.linkedin.com/in/tirthraj-mahajan-909497258?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-256.png" width="50px"></a></div>
                    <!-- <div class="twitter"><a href="" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-256.png" width="50px"></a></div> -->
                </div>
        </section> 
        
        <section class="card card-5">
            <div class="profile-pic" style="background-image: url('/static/img_about_us/chetana_thoke.jpeg');background-size: 300px; background-position: -100px -120px;"></div>
                <div class="name">CHETANA THOKE</div>
                <div class="roll-no">Roll No: 10918</div>
                <div class="skills-text">Skills:
                        <div class="skill">Python</div>
                        <div class="skill">HTML</div>
                        <div class="skill">CSS</div>
                    </div>
                </div>
                <div class="social-media">
                    <div class="instagram"><a href="https://www.instagram.com/tirthraj07/" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-256.png" width="50px"></a></div>
                    <div class="linkedin"><a href="https://in.linkedin.com/in/tirthraj-mahajan-909497258?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-256.png" width="50px"></a></div>
                    <!-- <div class="twitter"><a href="" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-256.png" width="50px"></a></div> -->
                </div>
        </section>        

    </section>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
    <!-- <script src="about.js"></script> -->
    <script src="/static/about.js"></script>

</body>
</html>