<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aarogya</title>
    <!-- <link rel="stylesheet" href="depression.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/depression.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div id="top"></div>
    <div class="back-to-top">
        <a href="#top"><img src='https://icon-library.com/images/back-to-top-icon-png/back-to-top-icon-png-8.jpg' width="50vw"></a>
    </div>
    <div class="home-button">
        <a href="/indexHTML"><img src='https://media.istockphoto.com/id/1270739437/vector/home-icon-house-symbol-button-flat-shape-building-logo-sign-black-silhouette-isolated-on.jpg?s=170667a&w=0&k=20&c=tjWLCKMp2Byg_m7ECVGb3uYwv-VtFtzcYHXE3dTV1JU=' width="70vw" style="aspect-ratio: 1/1;"></a>
    </div>

    <section class="page page0">

        <div class="header-box"></div>
        
        <div class="card-container">
            <div class="card card1">
                <a href="#information_section"><img src="/static/img_addiction/information.jpg" width="190px" alt=""></a>
                <div><a href="#information_section">Information</a></div>
            </div>
            <div class="card card2">
                <a href="#causes_section"><img src="/static/img_addiction/causes.png" width="190px" alt=""></a>
                <div><a href="#causes_section">Causes</a></div>
            </div>
            <div class="card card3">
                <a href="#symptoms_section"><img src="/static/img_addiction/symptoms.png" width="190px" height="190px" alt=""></a>
                <div><a href="#symptoms_section">Symptoms</a></div>
            </div>
            <div class="card card4">
                <a href="#prevention_section"><img src="/static/img_addiction/Prevention.png" width="190px" alt=""></a>
                <div><a href="#prevention_section">Prevention</a></div>
            </div>
            <div class="card card5">
                <a href="#remedies_section"><img src="/static/img_addiction/remedies.png" width="190px" alt=""></a>
                <div><a href="#remedies_section">Remedies</a></div>
            </div>
            <div class="card card6">
                <a href="#research_section"><img src="/static/img_addiction/research.png" width="190px" alt=""></a>
                <div><a href="#research_section">Research Papers</a></div>
            </div>
        </div>

    </section>

    <section class="page page1" id="information_section">

        <header>
            <h1>INFORMATION</h1>
        </header>

        <article>
            <span class="hl">Major depression is a mood disorder</span> characterized by a sense of inadequacy, despondency, decreased activity, pessimism, anhedonia and sadness where these symptoms severely disrupt and adversely affect the person's life, sometimes to such an extent that suicide is attempted or results. The search for an extended understanding of the causes of depression, and for the development of additional effective treatments is highly significant. Clinical and pre-clinical studies suggest stress is a key mediator in the pathophysiology of depression.
            <br> <br>
            As estimated by WHO, depression shall become the <span class="hl">second largest illness in terms of morbidity by another decade</span> in the world, already one out of every five women, and twelve men have depression. Not just adults, but two percent of school children, and five percent of teenagers also suffer from depression, and these mostly go unidentified. Depression has been the commonest reason why people come to a psychiatrist, although the common man's perception is that all psychological problems are depression
            <br><br>
            What one sees in most patients is the myth related to depression. People still believe that it is because of some weakness in personality, or that one can cure it by oneself, or that medication would go lifelong and are mere sedatives. All these are myths, and mostly created by faith healers, or unqualified counsellors, and non-medical experts for their own vested interest, and largely by an unaware of society. An increased awareness, and approach to psychiatrists, has been the main reason for the increase in number of patients and not necessarily an increase in prevalence. With newer medication, and better facilities, treating depression has become easier, and most people respond very well to treatment, and return to optimum functioning very soon
            <br><br>
            Following data shows the US population characteristics for 2008 to 2016 of 227,663 adult respondents. Among those who had depression, 40% were aged 45-64 years, 61% were female, and 42% were Non-Hispanic White. In addition, among those with depression, 42% were from the South, 34% had incomes below the federal poverty level, 44% had public insurance coverage only, and 84% had less than bachelor’s degree.
            <br>
            Refer: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8260438/">National Library of Medicine</a>
        </article>
        
        <article>
            <h1 style="text-decoration: underline; text-underline-offset: 2px;">
                On The Basis Of Age
            </h1>
        </article>

        <div class="container">
            <div class="card">
              <h3>Age 18-34</h3>
              <p>Total Number Surveyed (%)</p>
              <p>75,029 (33%)</p>
              <p>Depressed (%)</p>
              <p>4,409 (24%)</p>
              <p>Not Depressed (%)</p>
              <p>56,565 (32%)</p>
            </div>
            <div class="card">
              <h3>Age 35-44</h3>
              <p>Total Number Surveyed (%)</p>
              <p>40,841 (18%)</p>
              <p>Depressed (%)</p>
              <p>3,082 (17%)</p>
              <p>Not Depressed (%)</p>
              <p>32,459 (18%)</p>
            </div>
            <div class="card">
              <h3>Age 45-64</h3>
              <p>Total Number Surveyed (%)</p>
              <p>75,563 (33%)</p>
              <p>Depressed (%)</p>
              <p>7,224 (40%)</p>
              <p>Not Depressed (%)</p>
              <p>58,557 (33%)</p>
            </div>
            <div class="card">
              <h3>Age ≥65</h3>
              <p>Total Number Surveyed (%)</p>
              <p>36,230 (16%)</p>
              <p>Depressed (%)</p>
              <p>3,346 (19%)</p>
              <p>Not Depressed (%)</p>
              <p>28,659 (16%)</p>
            </div>
        </div>

        <article>
            <h1 style="text-decoration: underline; text-underline-offset: 2px;">
                On The Basis Of Gender
            </h1>
        </article>

        <div class="container">
            <div class="card">
              <h3>Men</h3>
              <p>Total Number Surveyed (%)</p>
              <p>105,808 (46%)</p>
              <p>Depressed (%)</p>
              <p>7,053 (39%)</p>
              <p>Not Depressed (%)</p>
              <p>82,096 (47%)</p>
            </div>
            <div class="card">
              <h3>Women</h3>
              <p>Total Number Surveyed (%)</p>
              <p>121,855 (54%)</p>
              <p>Depressed (%)</p>
              <p>121,855 (54%)</p>
              <p>Not Depressed (%)</p>
              <p>94,144 (53%)</p>
            </div>
        </div>

        <article>
            <h1 style="text-decoration: underline; text-underline-offset: 2px;">
                On The Basis Of Education
            </h1>
        </article>

        <div class="container">
            <div class="card">
              <h3>Less than Bachelors</h3>
              <p>Total Number Surveyed (%)</p>
              <p>143,906 (72%)</p>
              <p>Depressed (%)</p>
              <p>13,355 (84%))</p>
              <p>Not Depressed (%)</p>
              <p>13,355 (84%)</p>
            </div>
            <div class="card">
              <h3>Bachelor's degree+</h3>
              <p>Total Number Surveyed (%)</p>
              <p>54,868 (28%)</p>
              <p>Depressed (%)</p>
              <p>2,534 (16%)</p>
              <p>Not Depressed (%)</p>
              <p>45,560 (29%)</p>
            </div>
        </div>

    </section>


    <section class="page page2" id="causes_section">
        <header>
            <h1>CAUSES</h1>
        </header>

        <article>
            <h2>Genetic Causes of Depression</h1>
            <h1>1: Focus on Functional Polymorphisms</h2>
            <p>Genetic association studies have investigated functional polymorphisms in genes related to mood disorders, such as depression. These polymorphisms alter the expression and functioning of specific genes involved in neurotransmitter regulation. Key genes include the serotonin transporter (SLC6A4), serotonin 2A receptor (5HTR2A), tyrosine hydroxylase (TH), tryptophan hydroxylase 1 (TPH1), and catechol-o-methyltransferase (COMT), which are associated with serotonin and dopamine pathways.</p>
            
            <h1>2.Inheritance of Vulnerability</h1>
            <p>Familial patterns of depressive illnesses have long been recognized, prompting investigations into the role of genetics. Research indicates that depressive illnesses can be inherited to some extent, suggesting a vulnerability to depression rather than a predetermined fate. Close relatives with clinical depression may pass on a tendency for others to develop the illness, but it does not guarantee depression will occur.</p>
            
            <h1>3.Twin Studies and Genetic Influence</h1>
            <p>Studies involving identical twins, who share the same genetic code, have shed light on the genetic influence of clinical depression. When one identical twin becomes depressed, the other twin has a high likelihood (approximately 76%) of also developing clinical depression. Even when raised apart, identical twins still show a relatively high concordance rate of depression (about 67%). This suggests a strong genetic influence, but it also indicates other factors contribute to vulnerability, such as environmental factors like childhood experiences, stressors, trauma, substance exposure, and medical illnesses</p>
            
            <h1>4.Fraternal Twins and Genetic Predisposition</h1>
            <p>Research has also involved fraternal twins, who share only about 50% of their genetic makeup. When one fraternal twin experiences depression, the other twin has a higher probability (about 19%) of developing depression compared to the general population. This finding further supports the genetic influence in the development of clinical depression.</p>
            <br>
            <p><span class="hl">Overall, genetic factors play a significant role in the vulnerability to depression, as evident from twin studies and research on functional polymorphisms in genes associated with mood disorders. However, depression is a complex condition influenced by a combination of genetic and environmental factors. Understanding these interactions can help develop more effective approaches for prevention and treatment.</span></p>
            <br><br> 

            <h2>Environmental Causes of Depression</h1>
            <p>Depression can be influenced by various environmental factors, which are events or experiences that happen in our everyday lives. These factors are outside of ourselves and can impact our mental health. Researchers refer to them as sociological or psychosocial factors, as they involve a combination of societal events and the workings of the human mind. The experiences we go through, like past relationships, childhood development, and past crises, can affect our thoughts, emotions, and behaviors, contributing to the development of clinical depression in some individuals.</p>
            <br>
            <h1>1.Stress:</h1>
            <p>There is a complex relationship between stress, how our mind and body react to it, and the development of clinical depression. For some people, there is a direct link between stressful events and the onset of depression. Stress can come in both negative and positive forms. Negative stressors, like losing a loved one, a job, or a relationship, and going through a divorce, can trigger depression. On the other hand, positive stress, such as planning for a wedding or starting a new job, can also lead to depression in some cases.</p>
            <h1>2.Traumatic Events:</h1>
            <p>Many people who experience traumatic events are at a higher risk of developing depression. Such events may include the loss of a loved one, a serious medical illness, the end of a marriage, or significant financial loss. Traumatic events can disrupt our sense of control and stability in life, leading to emotional distress and potentially depression.</p>
            <h1>3.Childhood Difficulties:</h1>
            <p>Individuals who faced severe difficulties during childhood are more likely to develop clinical depression. Common childhood difficulties may involve sexual, emotional, or physical abuse, dysfunctional upbringing, parental separation, or mental illness in one or both parents. One of the most emotionally challenging events for a child is the separation or death of a parent before the age of eleven, which can increase the risk of depression later in life.</p>
            <h1>4.Synthetic Chemicals:</h1>
            <p>Synthetic chemicals found in preservatives, additives, hormones in food, pesticides, and air and water pollutants have come under scrutiny as potential links to depression and major depressive episodes. Studies have shown that exposure to air and water pollution alone can lead to diseases like cancer, making researchers investigate their impact on mental health.</p>
            <h1>5.Noise Pollution:</h1>
            <p>Noise pollution has been associated with aggression, hypertension, increased stress levels, tinnitus, hearing loss, and sleep disruptions. Specifically, tinnitus, a persistent ringing in the ears, is linked to severe depression, panic attacks, and forgetfulness. Continual exposure to noise pollution can also contribute to cardiovascular diseases and increased blood pressure, further affecting mental well-being, especially in individuals susceptible to depression.</p>
            <h1>6.Electrical Pollution:</h1>
            <p>Radio waves from electrical equipment surrounding us, although invisible and intangible, have been found to induce depression and rage. However, the exact causes of this effect are not yet fully understood. Unlike other environmental factors, electrical pollution cannot be seen, heard, tasted, or felt, but it still has negative effects on our mind and body.</p>
            <h1>7.Natural and Catastrophic Disasters:</h1>
            <p>Natural disasters like hurricanes, earthquakes, or fires, as well as man-made disasters like bombings and wars, can exacerbate depression in individuals who are already vulnerable. The aftermath of such catastrophic events can trigger severe major depression even in people who were not previously prone to depression.</p>
            <br>
            <p>In summary, environmental factors such as stress, traumatic events, childhood difficulties, exposure to synthetic chemicals, noise pollution, electrical pollution, and natural disasters can contribute to the development and worsening of depression in susceptible individuals. Understanding these environmental triggers can help identify risk factors and develop strategies for prevention and support for those affected by depression.</p>
            
            <iframe src="https://www.youtube-nocookie.com/embed/BZOLxSQwER8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </article>


    </section>

    <section class="page page3" id="symptoms_section">
        <header>
            <h1>SYMPTOMS</h1>
        </header>

        <article>
            <p>
                Depression is a mental health condition that can affect a person's emotional, psychological, and physical well-being. The symptoms of depression can vary from person to person and may range in intensity. Common symptoms of depression include:
            </p>

            <ol>
                <li><h1>Persistent Sadness:</h1><p>Feeling sad, empty, or hopeless most of the day, nearly every day.</p></li>
                
                <li><h1>Loss of Interest or Pleasure:</h1><p> Losing interest in activities once enjoyed, including hobbies, socializing, or spending time with loved ones.</p></li>
                
                <li><h1>Fatigue and Low Energy:</h1><p>Experiencing constant tiredness and a lack of energy, even with minimal physical or mental exertion.</p></li>
                
                <li><h1>Changes in Sleep Patterns:</h1><p>Insomnia (difficulty falling asleep or staying asleep) or hypersomnia (excessive sleep) can be signs of depression.</p></li>
                
                <li><h1>Appetite or Weight Changes</h1><p>Significant weight loss or gain, or changes in appetite and eating habits.</p></li>
                
                <li><h1>Feelings of Worthlessness or Guilt:</h1><p>Feeling excessively guilty or worthless, often without any reasonable cause.</p></li>
                
                <li><h1>Difficulty Concentrating:</h1><p>Struggling to focus, make decisions, or remember things.</p></li>
                
                <li><h1>Thoughts of Death or Suicide:</h1><p>Persistent thoughts about death, dying, or suicidal ideation, or suicide attempts.</p></li>
                
                <li><h1>Irritability or Agitation:</h1><p>Being easily agitated, restless, or having a short temper.</p></li>
                <li><h1>Physical Aches and Pains:</h1><p>Unexplained physical symptoms such as headaches, backaches, or stomachaches that do not respond to medical treatment.</p></li>
            </ol>
            <br><br>
            <p>
                It's important to note that, <span class="hl">experiencing some of these symptoms occasionally doesn't necessarily indicate depression.</span> However, if these symptoms persist for most of the day, <span class="hl">nearly every day, and interfere with daily life, work, or relationships for at least two weeks or more, it may be a sign of clinical depression.</span>
            </p>
            <p>
                If you or someone you know is experiencing these symptoms, it's essential to seek professional help from a mental health professional or a healthcare provider. Depression is a treatable condition, and early intervention can make a significant difference in the recovery process.
            </p>

            <iframe src="https://www.youtube-nocookie.com/embed/gRVDon8uo1g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <iframe src="https://www.youtube-nocookie.com/embed/S5SdA64snP4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
    </section>

    <section class="page page4" id="prevention_section">
        <header>
            <h1>PREVENTION</h1>
        </header>

        <article>
            <p>
                Preventing depression involves adopting strategies and lifestyle changes that promote mental well-being and resilience. While it may not be possible to prevent all cases of depression, these preventive measures can significantly reduce the risk and help maintain good mental health:
            </p>

            <ol>
                <li><h1>Healthy Lifestyle:</h1><p>Engage in regular physical activity, maintain a balanced diet, and get enough sleep. Regular exercise is particularly beneficial as it releases feel-good chemicals in the brain, such as endorphins, which can improve mood and reduce stress</p></li>
                
                <li><h1>Social Support:</h1><p>Cultivate strong social connections and maintain supportive relationships with friends, family, and peers. Social support acts as a protective factor against depression.</p></li>
                
                <li><h1>Stress Management:</h1><p> Learn effective stress management techniques, such as mindfulness, meditation, deep breathing exercises, or yoga. Managing stress can help prevent it from escalating into depression.</p></li>
                
                <li><h1>Limit Alcohol and Substance Use:</h1><p>Excessive alcohol consumption and drug use can increase the risk of depression. Moderation or abstaining from these substances is crucial for mental well-being.</p></li>
                
                <li><h1>Positive Coping Skills:</h1><p> Develop healthy coping mechanisms to deal with life's challenges. Positive coping skills include problem-solving, seeking support, and reframing negative thoughts.</p></li>
                
                <li><h1>Identify Triggers:</h1><p>Be aware of personal triggers that may contribute to feelings of sadness or stress, and develop strategies to manage them effectively.</p></li>
                
                <li><h1>Seek Help</h1><p>If experiencing prolonged feelings of sadness or stress, don't hesitate to seek professional help. Early intervention and treatment can prevent depression from worsening.</p></li>
                
                <li><h1>Set Realistic Goals:</h1><p>Set achievable goals and break them down into smaller, manageable steps. Celebrate accomplishments, no matter how small they may seem.</p></li>
                
                <li><h1>Stay Engaged:</h1><p>Engage in activities and hobbies that bring joy and fulfillment. Stay involved in things that provide a sense of purpose and satisfaction.</p></li>
                <li><h1>Limit Media Exposure:</h1><p>Limit exposure to negative or distressing news and social media content. Constant exposure to negative information can impact mental well-being.</p></li>

                <li><h1>Learn to Say "No":</h1><p>Set healthy boundaries and learn to say "no" when feeling overwhelmed or overburdened.</p></li>
                
                <li><h1>Mindful Use of Social Media:</h1><p>Be mindful of social media use and take breaks when needed. Comparison and excessive use can contribute to feelings of inadequacy and isolation.</p></li>
                
                <li><h1>Regular Check-ins:</h1><p>Monitor your mental health and emotional well-being regularly. If you notice any signs of distress, seek help promptly.</p></li>
            </ol>
            <br><br>
            <p>
                Remember that each individual's experience with depression is unique, and what works for one person may not work for another. It's essential to tailor preventive strategies to your specific needs and circumstances. If you or someone you know is struggling with depression or mental health issues, don't hesitate to seek professional support from a mental health provider or counselor.
            </p>

            <iframe src="https://www.youtube-nocookie.com/embed/NQcYZplTXnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
    </section>

    <section class="page page5" id="remedies_section">
        <header>
            <h1>TREATMENT OF DEPRESSION</h1>
        </header>

        <article>
            <h2>1: Drug Treatment for Depression</h2>
            <p>
                Mild depression can be effectively treated with either medication or psychotherapy. For moderate to severe depression, a combination of medication and psychotherapy is often required. Antidepressant drugs play a significant role in the treatment of depression. Approximately 50-65% of patients respond positively to the first antidepressant prescribed. There is no evidence that one particular antidepressant is superior to another in efficacy or time to response.
                <br>
                The choice of antidepressant can be guided by matching the patient's symptoms to the side effect profile, considering medical and psychiatric co-morbidities, and assessing the patient's prior response to medications. Commonly used antidepressants include Fluoxetine and citalopram (Celexa).
            </p>
            
            <h2>2. The Monoamine Hypothesis</h2>
            <p>
                The therapeutic effects of antidepressants are believed to be linked to their effects on neurotransmitters and neurotransmission in the brain. The Monoamine Hypothesis proposes that depression is caused by underactivity in the brain of certain neurotransmitters, such as dopamine, serotonin, and norepinephrine.
                <br>
                Early research in the 1950s accidentally discovered that monoamine oxidase inhibitors (MAOIs) and tricyclic antidepressants were effective in treating depression. These findings, along with supporting evidence, led to the "Catecholamine Hypothesis of Affective Disorders." Low levels of neurotransmitters were associated with depression.
            </p>
            
            <h2>3. How Antidepressants Work</h2>
            <p>
                Different classes of antidepressants, such as MAOIs, tricyclic antidepressants (TCAs), and selective serotonin reuptake inhibitors (SSRIs), target specific neurotransmitters to achieve their effects. MAOIs increase concentrations of neurotransmitters by blocking their degradation. TCAs prevent the reuptake of neurotransmitters, allowing them to remain active in synapses. SSRIs, the most common antidepressants today, specifically prevent the reuptake of serotonin.
            </p>
            
            <h2>4.Neurogenesis and Brain Morphogenesis</h2>
            <p>
                Antidepressants may promote neurogenesis (the growth of new brain cells) in the hippocampus, which can contribute to their therapeutic effects. Research suggests that they can also affect the expression of genes in brain cells, including "clock genes" that regulate circadian rhythms.
            </p>

            <h2>5.The Role of the HPA Axis</h2>
            <p>
                One theory regarding the cause of depression is an overactive hypothalamic-pituitary-adrenal (HPA) axis, which controls the body's response to stress. Antidepressants may help regulate HPA axis function, which can alleviate depressive symptoms.
            </p>


            <h2>6.Continuation Therapy and Maintenance</h2>
            <p>
                Continuation therapy (9-12 months after acute symptoms resolve) is recommended to decrease the risk of relapse. Long-term maintenance or lifetime drug therapy may be considered for patients with a history of relapse and other clinical features.
            </p>

            <h2>7.Home Remedies</h2>
            <p>
                There is no evidence that alternative treatments or home remedies are effective for moderate to severe depression. However, some people with mild depression may find relaxation techniques beneficial.
                <br>
                Alternative therapies include acupuncture, aromatherapy, biofeedback, chiropractic treatments, guided imagery, herbal remedies, hypnosis, massage therapy, meditation, relaxation, and yoga. Meditation, in particular, is a form of relaxation that can provide relief from depressive symptoms and stress.
            </p>

            <h2>8.Exercise and Music Therapy</h2>
            <p>
                Exercise has been shown to reduce stress, improve mood, and reduce depression. It can increase energy levels, balance, and flexibility, contributing to overall well-being.
                <br>
                Music therapy is a non-drug approach that can help reduce fear, anxiety, stress, and grief. Listening to music that matches personal needs, moods, and tastes can be calming and uplifting.
            </p>

            <br>
            <p>
                It is essential to consult with a healthcare provider before using any alternative treatment and to continue ongoing communication about treatment options for depression.
            </p>
            
     
            <iframe src="https://www.youtube-nocookie.com/embed/Yy8e4sw70ow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <iframe src="https://www.youtube-nocookie.com/embed/ClPVJ25Ka4k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <iframe src="https://www.youtube-nocookie.com/embed/M4eUO7oIY3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </article>
    </section>

</body>
</html>