<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAROGYA</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">


</head>
<body>
    
    
    <div class="header-box">
        <div class="logo" title="AAROGYA">
            <a href="#"><img src="/static/img_index/logo.jpg" alt="Logo" width="170px"></a>
        </div>
        <div class="nav-bar">
            <div class="item"><a href="#home">Home</a></div>
            <div class="item"><a href="/about">About Us</a></div>
            <div class="item"><a href="/loginHTML">Login</a></div>
        </div>
        <div class="hero">
            <img src="/static/img_index/doctor.png" alt="" width="300px">
            <div class="welcome-note">
                WELCOME TO AAROGYA!
            </div>
            <div class="note">
                Welcome to Aarogya, your go-to source for reliable information on addiction, cancer, and depression.<br> 
                Our website is dedicated to providing accurate and up-to-date information about these important health topics, including their symptoms, causes, prevention, remedies, and latest research.<br>
                Whether you're looking for answers to your health-related questions or want to stay informed about the latest developments in addiction, cancer, and depression research, Aarogya is here to help.<br>
                Remember: Together We Can!
            </div>
        </div>
    </div>

    <div class="card addiction-card">
        <a href="/addiction"><img src="/static/img_index/addiction.png" alt="addiction" title="addiction" width="150px"></a>
        <div><a href="/addiction">Addiction</a></div>
    </div>
    
    <div class="card depression-card">
        <a href="/depression"><img src="/static/img_index/depression.png" alt="Depression" title="Depression" width="150px"></a>
        <div><a href="/depression">Depression</a></div>
    </div>
    <div class="card cancer-card">
        <a href="/cancer"><img src="/static/img_index/cancer.png" alt="cancer" title="cancer" width="150px"></a>
        <div><a href="/cancer">Cancer</a></div>
    </div>

    <div class="about-aarogya-section">

        <div class="header">About Aarogya:</div>
        <div class="image1"><img src="/static/img_index/Mental-Health-1.jpg" width="500px"></div>
        <div class="text text1">At Aarogya, we believe that access to accurate and reliable health information is essential to maintaining a healthy lifestyle. Our website is dedicated to providing comprehensive information about addiction, cancer, and depression, three of the most prevalent health issues in today's world. We strive to provide information that is easy to understand, yet based on the latest scientific research and medical best practices.</div>
        <div class="image2"><img src="/static/img_index/Community.png" alt="Community" width="500px"></div>
        <div class="text text2">Our website features detailed information about the symptoms, causes, prevention, and remedies for addiction, cancer, and depression. We also provide links to credible sources for further reading and research. Our goal is to empower individuals with the knowledge they need to make informed decisions about their health, and to promote awareness and understanding of these important health issues in the broader community.</div>
        <div class="image3"><img src="/static/img_index/internet.jpg" width="500px"></div>
        <div class="text text3">At Aarogya, we are committed to making health information accessible to all. We understand that navigating the complexities of the healthcare system can be challenging, which is why we strive to provide information in a way that is easy to understand and use. Whether you are dealing with addiction, cancer, or depression yourself, or are seeking information for a loved one, we are here to help. With the power of Internet, we can reach each and every corner of the world.</div>
        <div class="image4"><img src="/static/img_index/health-illustration.png" width="500px"></div>
        <div class="text text4">We are continuously updating and improving our website to ensure that it remains a reliable source of health information. We welcome your feedback and suggestions for how we can better serve you. Thank you for visiting Aarogya, and we hope you find the information you are looking for.</div>
    </div>

    <div class="contact-us-footer">
        <div class="message">
            <span style="font-size: 35px; font-family:'Oswald',sans-serif;">We value your feedback and would love to hear from you.</span><br><br><br><span style="font-family: 'Pathway Extreme', sans-serif;">If you have any questions, comments, or suggestions, please don't hesitate to get in touch with us.<br>We will do our best to respond to your message as soon as possible.<br>Thank you for your interest in Aarogya, and we look forward to hearing from you! </span>
        </div>
        <div class="contact-us-button"><a href="#contact">CONTACT US</a></div>
    </div>

    <div class="footer">
        <div class="text-footer">&copy; 2023 Project Based Learning<br>Group: 4A92023<br>Pune Institute Of Computer Technology, Pune (PICT)</div>
    </div>


</body>
</html>