<!DOCTYPE html>
<html>
<head>
	<title>Aarogya Login</title>
	<!-- <link rel="stylesheet" type="text/css" href="login.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/login.css">

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

</head>
<body>

    <img src="/static/img_index/white-logo.png" width="250px">

	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
        <div class="signupClass">
            <form id="signupForm" action="{{ url_for('signup') }}" method="post">
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" id="name" name="name" placeholder="Name" required="">
                <input type="text" id="signup-username" name="username" placeholder="Username" required="">
                <input type="email" id="email"name="email" placeholder="Email" required="">
                <input type="password" id="signup-password" name="password" placeholder="Password" required="">
                <input type="number" id="age" name="age" placeholder="Age" required="">
                <select id="gender" name="gender" required="">
                    <option value="male">Male</option>
                    <option value="female">Female</option>  
                    <option value="other">Other</option>
                </select>
                <textarea id="address" name="address" placeholder="Address" required=""></textarea>
                
                <button type="submit">Sign Up</button>
            </form>
        </div>

        <div class="login">
            <form id="loginForm" action="{{ url_for('login') }}" method="post">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="text" id="login-username" name="username" placeholder="Username" required>
                <input type="password" id="login-password" name="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </div>
	</div>

    <!-- <script src="login.js"></script> -->
    <script src="/static/login.js"></script>

</body>
</html>