<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aarogya Prescriptions</title>
    <link rel="stylesheet" href="/static/prescriptions.css">
</head>
<body>

    <div id="top"></div>
    <div class="back-to-top">
        <a href="#top"><img src='https://icon-library.com/images/back-to-top-icon-png/back-to-top-icon-png-8.jpg' width="50px"></a>
    </div>

    <!-- PAGE 1 -->

    <div class="nav_bar">

        <div class="title">AAROGYA</div>

        <div class="back_logo"><a href="/profile"><img src="/static/img_prescription/arrow.png" width="55vh"></a></div>

        <div class="back"><a href="/profile">HISTORY</a></div>

        <div class="home_logo"><a href="/indexHTML"><img src="/static/img_prescription/home_icon.png" width="55vh"></a></div>
        
        <div class="home"><a href="/indexHTML">HOME</a></div>

    </div>

    <div class="wave wave1"></div>
    <h2>AAROGYA</h2>
    <h1>PRESCRIPTIONS</h1>

    <button class="scroll-down">VIEW</button>

    <div class="artwork"><img src="/static/img_prescription/artwork.png" width="870px"></div>


    <!--END OF PAGE 1 -->

    <!-- <br> -->


    <div class="page2">

        <div class="prescription_artwork">
            <div class="prescription_image"></div>
            <div class="date">YYYY/MM/DD</div>
        </div>


        <div class="doctor_avatar"></div>

        <div class="doctor-name">Dr. Doctor Name</div>

        <div class="description"> Description </div>

    </div>

    <div class="footer">
        <div class="text-footer">&copy; 2023 Project Based Learning<br>Group: 4A92023<br>Pune Institute Of Computer Technology, Pune (PICT)</div>
    </div>

    <script src="/static/prescriptions.js"></script>
</body>
</html>